<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.p6spy.engine.spy.P6SpyDriver</property>
        <property name="hibernate.connection.url">jdbc:p6spy:mysql://localhost:3306/rpg</property>
        <!--        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
        <!--        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/your_database</property>-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Automatic schema update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Enable SQL Logging -->
        <property name="hibernate.show_sql">false</property> <!-- Optional: Hibernate's built-in option -->
        <property name="hibernate.format_sql">true</property>

        <!-- Mapping the Player entity -->
        <mapping class="com.movie.entity.Country"/>
        <mapping class="com.movie.entity.City"/>

    </session-factory>
</hibernate-configuration>
